@import "variables";
@import "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #777;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* HEADER */
.headerBackground {
  background-image: url("../img/heroBackground.jpg");
  position: relative;
  width: 100%;
  height: 100vh;
  @include backgroundProperties;

  .container {
    height: 100%;
    position: relative;
  }

  header {
    padding: 1.5em;

    .hamburger {
      background-color: transparent;
      width: 50px;
      height: 50px;
      position: relative;
      cursor: pointer;
      display: none;

      .line1 {
        background-color: $white;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: (50px / 7) * 2;
      }

      .line2 {
        background-color: $white;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: (50px / 7) * 3.5;
      }

      .line3 {
        background-color: $white;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: (50px / 7) * 5;
      }

      .line1X {
        transform: rotate(45deg);
        top: 50%;
        left: 25%;
      }

      .line2X {
        display: none;
      }

      .line3X {
        transform: rotate(-45deg);
        top: 50%;
        left: 25%;
      }
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        cursor: pointer;
      }

      ul {
        list-style-type: none;

        li {
          display: inline-block;

          a {
            text-decoration: none;
            margin: 0 2em;
            text-transform: uppercase;
            color: $white;
            font-size: 0.9em;
            font-weight: bold;
            transition: 0.5s;

            &:hover {
              color: $vividPink;
            }
          }
        }
      }

      .bookTripBtn {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.8em 2em;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          color: $vividPink;
          border: 1px solid $vividPink;
        }
      }
    }
  }

  .middleTitles {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;

    p {
      text-transform: uppercase;
      margin-bottom: 5em;
    }

    h1 {
      font-size: 120px;
      font-family: serif;
    }
  }

  /* SHOW NAV */
  .specialNav {
    display: block;
    ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $veryLightGray;
      right: 30px;
      top: 80px;
      li {
        padding: 10px 40px;

        a {
          color: $black;
        }
      }
    }
  }

  .showNav {
    display: none;
  }
}

/* POPULAR SERVICES */
.popularServices {
  padding: 8em 0;
  @include flexColumn;

  .titles {
    @include topText;
  }
}

.services {
  padding: 6em 0 0;

  ul {
    @include unordList(space-between);

    li {
      min-height: 500px;
      max-width: 350px;
      @include flexColumn;
      justify-content: space-between;
      border: 1px solid $veryLightGray;
      padding: 3em 1em 5em;
      text-align: center;
      transition: box-shadow 0.5s;

      h2 {
        padding: 0 2em;
        color: $black;
        font-family: serif;
        font-size: 1.5em;
      }

      p {
        font-weight: 100;
      }

      .readMoreBtn {
        @include readMoreBtn(center, -20px);
      }

      .serviceImg {
        align-self: center;
      }

      &:hover {
        box-shadow: 0px 0px 30px 0px rgba(79, 79, 79, 0.2);
      }
    }
  }
}

/* MAP */
.mapBackground {
  background-image: url("../img/background.jpg");
  @include backgroundProperties;
  background-size: auto;
  min-height: 618.5px;

  .container {
    display: flex;
  }

  .leftPart {
    align-self: center;
    color: $black;
    padding: 0 150px 0 0;

    h1 {
      font-family: serif;
      font-size: 3.5em;
      line-height: 1;
      margin: 20px 0;
    }

    p {
      margin-bottom: 20px;
    }

    .bookTripDarkBtn {
      background-color: $black;
      color: $white;
      border: 1px solid $black;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 1.2em 2.5em;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: transparent;
        color: $black;
      }
    }
  }
}

/* FAMOUS TRIPS */
.famousTrips {
  padding: 8em 0;
  @include flexColumn;

  .titles {
    @include topText;
  }
}

.packages {
  padding: 6em 0 0;

  ul {
    @include unordList(space-between);

    li {
      min-height: 500px;
      max-width: 350px;
      @include flexColumn;
      justify-content: space-between;
      border: 1px solid $veryLightGray;
      padding: 3em 1em 5em;
      text-align: left;
      transition: box-shadow 0.5s;
      position: relative;

      .block {
        position: absolute;
        background: linear-gradient(to right, $vividPink 0%, $brightViolet 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$vividPink', endColorstr='$brightViolet',GradientType=1 );
        color: $white;
        text-align: center;
        padding: 1.2em 1em;
        top: 0%;
        left: 0%;
        z-index: 1;
        transition: 0.5s;

        p:first-child {
          font-size: 32px;
          font-family: serif;
          font-weight: bold;
        }

        p:nth-child(2) {
          font-weight: 100;
          font-size: 0.9em;
        }
      }

      h2 {
        padding: 0 2em 0 0;
        color: $black;
        font-family: serif;
        font-size: 1.5em;
        margin-top: 20px;
      }

      p {
        font-weight: 100;
      }

      .readMoreBtn {
        @include readMoreBtn(flex-start, 50px);
      }

      .packagesImg {
        align-self: center;
        overflow: hidden;
        transition: 0.5s;
      }

      &:hover {
        box-shadow: 0px 0px 30px 0px rgba(79, 79, 79, 0.2);
      }

      &:hover .block {
        background: linear-gradient(to right, #ffd168 0%, #a562f7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd168', endColorstr='#a562f7',GradientType=1 );
      }

      &:hover .packagesImg {
        transform: scale(1.09);
      }
    }
  }
}

/* SUBSCRIBE */
.subscribe {
  background-image: url(../img/background2.jpg);
  @include backgroundProperties;
  margin: 0 0 100px;
  padding: 100px 0;

  .container {
    display: flex;
    max-width: 1140px;
  }

  .rightPart {
    color: $white;
    margin: 0 0 0 150px;
    @include flexColumn;
    gap: 50px;
    align-self: center;

    h1 {
      font-family: serif;
      font-size: 4em;
      line-height: 1;
    }

    p {
      font-size: 1.1em;
    }

    .subscribeInput {
      background-color: #c251da;
      color: $white;
      font-weight: bold;
      border: none;
      padding: 25px 0 25px 20px;
      max-width: 396px;

      &::placeholder {
        color: $white;
      }
    }

    .subscribeBtn {
      border: 1px solid $brightViolet;
      padding: 2% 4%;
      position: relative;
      left: -10%;
      cursor: pointer;
    }
  }
}

/* TEAM MEMBERS */
.teamMembers {
  @include flexColumn;
  margin: 0 0 100px;

  .titles {
    @include topText;
  }

  .members {
    ul {
      @include unordList(space-evenly);
      margin: 100px 0 10px;

      li {
        padding: 20px;
        border: 1px solid $veryLightGray;
        transition: box-shadow 0.5s;

        &:hover {
          box-shadow: 0px 0px 30px 0px rgba(79, 79, 79, 0.2);
        }

        &:hover .person {
          display: block;
        }
      }
    }

    .personInfo {
      position: relative;

      .person {
        position: absolute;
        background-color: $white;
        color: $black;
        padding: 20px;
        bottom: 0;
        display: none;
      }
    }
  }
}

/* FOOTER */
.footer {
  background-color: $almostBlackBlue;
  color: $white;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;

    li {
      min-height: 300px;
      margin-top: 50px;
      padding: 0 20px;

      h3 {
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 100;
      }

      p {
        color: $lightGray;
        margin-bottom: 15px;
      }
    }
  }
}

.emailInput {
  padding: 1em 0 1em 1em;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
}

/* FOOT */
.foot {
  background-color: $almostBlackBlue;
  color: $lightGray;
  padding: 25px 0;

  p {
    font-size: 14px;
    font-weight: bold;
  }

  span {
    color: #f84b67;
  }
}

.footContent {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: $lightGray;
    width: 100%;
    height: 1px;
    top: -100%;
  }

  img {
    cursor: pointer;
    margin-left: 30px;
  }
}

/*  MEDIA QERIES */

/* 1600 */
@media screen and (max-width: 1600px) {
  .subscribeInput {
    width: 100% - 25%;
  }
}

/* 1550 */
@media screen and (max-width: 1550px) {
  .services ul {
    flex-direction: column;
    align-items: center;

    li {
      max-width: initial;
      margin: 20px 0;
      border: 2px solid $lightGray;

      &:hover {
        box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.4);
      }
    }
  }

  .famousTrips {
    padding: 3em 0;
  }

  .packages {
    padding: 2em 0;

    ul {
      flex-direction: column;
      align-items: center;

      li {
        margin: 20px 0;
        max-width: initial;
        text-align: center;
        border: 2px solid $lightGray;

        &:hover {
          box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.4);
        }

        .readMoreBtn {
          align-self: center;
        }
      }
    }
  }
}

/* 1450 */
@media screen and (max-width: 1450px) {
  .subscribeInput {
    display: none;
  }

  .subscribeBtn {
    position: initial !important;
  }
}

/* 1320 */
@media screen and (max-width: 1320px) {
  .footer ul {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 300px);
    text-align: center;
  }
}

/* 1193 */
@media screen and (max-width: 1193px) {
  .middleTitles h1 {
    line-height: 1;
  }

  #unordList {
    display: none;
  }

  .hamburger {
    display: inline-block !important;
  }

  .bookTripBtn {
    display: none;
  }

  .mapBackground .container {
    min-height: 618.5px;

    .leftPart {
      padding: 0;
      min-height: 618.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 30px;
    }
  }

  .mapImg,
  .subscribe img {
    display: none;
  }

  .subscribe .rightPart {
    text-align: center;
    margin: 0;
    color: $black;
  }

  .members ul {
    flex-direction: column;
    align-items: center;

    li {
      margin: -50px 0 100px;
      border: 2px solid $lightGray !important;

      &:hover {
        box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.4) !important;
      }
    }
  }
}

/* MIN-WIDTH 1193PX */
@media screen and (min-width: 1193px) {
  .showNav {
    display: none;
  }

  .specialNav ul {
    display: none !important;
  }
}

/* 1010 */
@media screen and (max-width: 1010px) {
  .popularServices {
    padding: 3em 0;

    .titles h1 {
      line-height: 1;
    }

    .titles::after {
      display: none;
    }

    .services {
      padding: 2em 0;
    }
  }

  .famousTrips {
    .titles::after {
      display: none;
    }
  }

  .teamMembers .titles::after {
    display: none;
  }
}

/* 925 */
@media screen and (max-width: 925px) {
  .footContent {
    display: grid;
    justify-content: center;

    &::before {
      top: -50%;
    }

    .icons {
      display: flex;
      justify-content: space-around;
    }
  }
}

/* 825 */
@media screen and (max-width: 825px) {
  .teamMembers .titles h1 {
    line-height: 1;
    font-size: 3em;
  }
}

/* 800 */
@media screen and (max-width: 800px) {
  .headerBackground .middleTitles h1 {
    font-size: 5em;
  }

  .headerBackground .middleTitles p {
    display: none;
  }

  .popularServices .titles h1 {
    font-size: 3em;
  }

  .mapBackground .leftPart h1 {
    font-size: 3em;
  }

  .famousTrips .titles h1 {
    font-size: 3em;
  }

  .subscribe .rightPart h1 {
    font-size: 3em;
  }

  .footer {
    display: none;
  }

  .foot {
    padding: 50px 0;
  }

  .footContent p {
    font-size: 0.9em;
  }

  .footContent::before {
    display: none;
  }

  .icons {
    margin: 20px 0 0;
  }
}

/* 622 */
@media screen and (max-width: 622px) {
  .famousTrips .titles h1 {
    line-height: 1;
  }
}

/* 480 */
@media screen and (max-width: 480px) {
  .headerBackground .middleTitles h1 {
    font-size: 3em;
    line-height: 1.5;
  }

  .packages {
    padding: 0;

    ul {
      gap: 0px;

      li {
        transform: scale(0.8);
        min-height: 400px;
      }
    }
  }
}
